
#container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    flex-direction: row;
}

.welcome {
    text-align: center;
    font-weight: bold;
}

.results {
    font-size: 150%;
    text-align: center;
    font-weight: normal;
}

.formStyle {
    display: flex;
    flex-direction: column;
    border-style: solid;
}

.formDesc {
    font-size: 100%;
    text-align: justify;
    font-weight: bold;
}

.formHeader {
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}
